<!DOCTYPE html>
<html lang="en" ng-app="heroApp">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="HeroesController as vm">
	<div class="logo"></div>
	<p>Search</p>
	<input type="text" ng-model="vm.search">
	<div class="wrapper">
	<div class="listing" ng-repeat="hero in vm.heroes | filter: {name: vm.search}" ng-class="hero.group">
		<div class="name">{{hero.name}}</div>
		<div class="number">{{hero.number}}</div>
	</div>
	</div>s
</body>
</html>
