body {
	background-color: #3b3b3b;
	color: white;
}

.logo {
	background-color: #d93832;
	background-image: url("https://hrcaonline.org/Portals/0/EasyDNNnews/572/572superhero.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 200px;
	width: 100%;
}

.name {

	font-size: 24px;
	height: 20%;
}

.number {
	
}

.Marvel {
	background-color: #d93832;
}

.DC {
	background-color: #3b7fbe;
}

.Independent {
	background-color: #f2b745;
}

.listing {
	border: solid white 4px;
	border-radius: 5%;
	box-sizing: border-box;
	height: 200px;
	margin: 2%;
	width: 21%;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.hero-image {
	height: 100px;
}

.searchbar {
	height: 100px;
}